<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Import Libraries -->
    <!-- Canvas-confetti -->
    <script src="https://cdn.jsdelivr.net/npm/canvas-confetti@1.3.3"></script>
    <!-- Bootstrap CSS -->
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <!-- Bootstrap JavaScript -->
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <!-- CSS -->
    <link href="/styles/theme.css" rel="stylesheet" />
    <link href="/styles/compte_client.css" rel="stylesheet" />
    <!-- Script pour gérer les interractions avec l'utilisateur (boutons, ...) -->
    <script src="/scripts/compte_client.js"></script>
    <title>Compte</title>
  </head>

  <body>
    <!-- Navigation Bar -->
    <!-- Navigation Bar
      @sticky-top: fixe la navbar en haut de la page
      @navbar-expand-lg: collapse la navbar sur les écrants small, 
      (i.e étend la navbar pour les écrans >= large) et ajoute un bouton
    -->
    <nav
      id="navNavBar"
      class="navbar sticky-top navbar-expand-lg navbar-dark bg-dark"
    >
      <!-- Menu déroulant donnant les informations du client
      @dropdown: menu déroulant vers le bas -->
      <div class="dropdown">
        <!-- Bouton déclencheur du menu déroulant 
        @data-toggle: ce bouton contrôle un menu déroulant
        @aria-haspopup: indique que le bouton a un menu contextuel associé
        @aria-expanded: indique que ce menu est actuellement fermé
         -->
        <button
          class="btn"
          type="button"
          id="dropdownMenu"
          data-toggle="dropdown"
          aria-expanded="false"
          aria-haspopup="true"
        >
          <!-- Le bouton possède une icône (avatar de la personne). -->
          <img
            id="client-avatar"
            src="/images/client.png"
            alt="/images/client.png"
          />
        </button>

        <!-- Menu déroulant, lié à #dropdownMenu -->
        <div class="dropdown-menu" aria-labelledby="dropdownMenu">
          <p class="dropdown-item text-white">
            <%= client.nom %> <%= client.prenom %><br />
            <span class="text-muted text-white">@<%= client.user_id %></span>
          </p>
          <div class="dropdown-divider"></div>
          <h5 class="dropdown-header text-white">Contact</h5>
          <p class="dropdown-item text-white"><%= client.email %></p>
          <p class="dropdown-item text-white"><%= client.telephone %></p>
          <div class="dropdown-divider"></div>
          <!-- TODO: Activier le bouton déconnexion -->
          <button
            class="dropdown-item text-danger client-deconnexion"
            type="button"
          >
            Se déconnecter
          </button>
        </div>

        <!-- Titre de la page (lié au menu déroulant) -->
        <a class="navbar-brand" href="#">Mon compte</a>
      </div>

      <!-- Bouton en cas de collapse de la navbar -->
      <button
        id="buttonNavbarToggler"
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navBarContent"
        aria-controls="navBarContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <!-- Button icon -->
        <span class="navbar-toggler-icon"></span>
      </button>

      <!-- Contenu de la Navbar 
      @collapse: Indique que le contenu de la navbar peut être collapsé -->
      <div id="navBarContent" class="collapse navbar-collapse">
        <!-- List non ordonnée contenant le nombre de points et le panier
        @navbar-nav: Applique le style navbar à la liste
        @ml-auto: margin left auto, "pousse" la liste vers la droite
        @nav-item: Applique le style nav-item à chaque élément de la liste
       -->
        <!-- On veut le nombre de points à gauche et le panier à droite -->
        <ul id="navBarContentList" class="navbar-nav ml-auto">
          <li class="nav-item">
            <!-- Concernant l'affichage des points. S'il y a des cadeaux
              dans le panier, i.e si le nombre de points hypothétique est 
              différent du nombre de points, alors on barre le nombre de points
              et on affiche le nombre de points hypothétiques. -->
            <a class="navbar-brand"
              >Points de fidélité
              <span class="badge badge-primary badge-pill nav-points-counter"
                ><% if(points_h !== points) { %><del><%= points %></del> <%=
                points_h %><% } else { %><%= points %><% } %></span
              ></a
            >
          </li>
          <li class="nav-item">
            <a class="navbar-brand" href="/client/compte?data=panier"
              >Panier
              <span class="badge badge-danger badge-pill nav-panier-counter"
                ><%= panier_counter %></span
              >
            </a>
          </li>
        </ul>
      </div>
    </nav>
    <!-- TODO: Gérer le cas où c'est l'anniversaire -->
    <% if (anniversaire) { %>
    <div class="alert alert-success anniv-div role="alert">
      <span class="anniv-text"
        >Joyeux anniversaire <%= client.prenom %> ! Vous avez reçu des cadeaux spéciaux, profitez-en !</span
      >
    </div>
    <% } %>
    <!-- Contenu principal -->
    <% if (datatype==="accueil") { %>
    <h2>Liste des cadeaux disponibles</h2>
    <div class="container mt-5">
      <div
        class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 list-cadeaux"
      >
        <% for (let i=0; i < data.length; i++) { let cadeau = data[i] %>
        <div class="col mb-4">
          <div id="<%= cadeau.cadeau_id %>" class="card">
            <img
              class="card-img-top"
              src="/images/<%= cadeau.image %>"
              alt="<%= cadeau.image %>"
            />
            <div class="card-body">
              <h5 class="card-title"><%=cadeau.nom%></h5>
              <p class="card-text"><%=cadeau.prix%> €</p>
              <p class="card-text">Quantite restante : <%= cadeau.stock %></p>
              <details>
                <summary>Plus d'informations</summary>
                <p class="card-text"></p>
                <!-- On affiche que les informations existantes -->
                <%if (cadeau.taille){%>
                <p class="card-text">Taille : <%=cadeau.taille%></p>
                <%}%> <%if (cadeau.couleur){%>
                <hr /><p class="card-text">Couleur : <%=cadeau.couleur%> </p>
                <%}%> <%if (cadeau.description){%>
                <hr /><p class="card-text"> <%=cadeau.description%> </p>
                <%}%>
              </details>
              <button
                id="<%= cadeau.cadeau_id %>"
                class="btn btn-success add-to-panier"
                type="button"
              >
                Ajouter au panier
              </button>
            </div>
          </div>
        </div>
        <% } %>
      </div>
    </div>
    <% } else if (datatype === "panier") { %>

    <div class="container mt-5">
      <h2 class="card-body d-flex justify-content-center align-items-center">
        Cadeaux actuellement dans le panier
      </h2>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4">
        <% if (panier_counter > 0) { %> <% for (let i = 0; i < data.length; i++)
          { let cadeau = data[i]; %>
          <div class="col mb-4">
            <div id="<%= cadeau.cadeaux_id %>" class="card">
              <img
                class="card-img-top"
                src="/images/<%= cadeau.image %>"
                alt="<%= cadeau.nom %>"
              />
              <div class="card-body">
                <h5 class="card-title"><%= cadeau.nom %></h5>
                <p class="card-text"><%= cadeau.prix %> €</p>
                <p class="card-text">Quantite restante : <%= cadeau.stock %></p>
                <details>
                  <summary>Plus d'informations</summary>
                  <% if (cadeau.taille) { %>
                  <p class="card-text">Taille : <%= cadeau.taille %></p>
                  <% } %> <% if (cadeau.couleur) { %>
                  <hr />
                  <p class="card-text">Couleur : <%= cadeau.couleur %></p>
                  <% } %> <% if (cadeau.description) { %>
                  <hr />
                  <p class="card-text"><%= cadeau.description %></p>
                  <% } %>
                </details>
              </div>
            </div>
          </div>
          <% } %> <% } else { %>
          <p>
            Aucun cadeau dans le panier pour l'utilisateur <%= client.user_id %> !
          </p>
          <% } %>

      </div>
      <div class="card-body d-flex justify-content-center align-items-center">
        <button
          id="valide-panier"
          class="btn btn-success valide-panier"
          type="button"
        >
          Valider la commande
        </button>
      </div>
      <div class="card-body d-flex justify-content-center fw-bold text-white">Prix total : <%= panier_value %></div>
    </div>
    <% } %>
  </body>
</html>
